.herosection-banner {
  background: url("../../assets/main-landing.png");
  /* background-image: linear-gradient( to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) ), url("../../assets/main-landing.png"); */
  background-size: cover;
  height: 90vh;
}

.mainbrandsection {
  /* background: url("../../assets/main-landing.png"); */
  /* background-size: cover; */
}

.brandname {
  color: #bf1922;
  font-size: 3rem;
  background-image: linear-gradient(
    -225deg,
    #333 0%,
    #ef453a 29%,
    #bf1922 67%,
    #f9af3d 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% 200%;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  -webkit-animation: textclip 2s linear infinite;
  line-height: 4rem;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.responsive-video {
  max-width: 100%;
  height: auto;
}
